<% title 'Accounts' %>

<p>
<%= link_to 'Add New User Account', new_admin_account_path, class: 'btn'  %>
</p>

<p><%= @accounts.count %> User Accounts</p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Access Code</th>
      <% for service in MasasService.all %>
        <th colspan='2'><%= service %></th>
      <% end %>
    </tr>
    <tr>
      <th colspan='2'></th>
      <% for service in MasasService.all %>
        <th>Read</th>
        <th>Write</th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for account in @accounts %>
      <tr>
        <td><%= link_to account.name, edit_admin_account_path(account) %></td>
        <td><%= account.access_code %></td>
        <% for service in MasasService.all %>
          <td><%= account.can?(:read, service) ? 'Yes' : 'No' %></td>
          <td><%= account.can?(:write, service) ? 'Yes' : 'No' %></td>
        <% end %>
        <td>
          <div class="btn-toolbar">
            <%= link_to 'View', admin_account_path(account), class: 'btn btn-primary' %>
            <%= link_to 'Edit', edit_admin_account_path(account), class: 'btn' %>
            <%= link_to account.enabled? ? 'Disable' : 'Enable', toggle_enabled_admin_account_path(account), class: 'btn' %>
            <%= link_to 'Remove', admin_account_path(account), method: :delete, confirm: 'Sure?', class: 'btn btn-danger' %>
            <%= link_to 'Edit Permissions', permissions_admin_account_path(account), class: 'btn' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
