<%  'Edit Permissions' %>

<h2>Account: <%= @account.name %></h2>

<%= form_for @account, url: update_permissions_admin_account_path(@account), method: :put do |f| %>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <% for service in MasasService.all %>
          <th colspan='2'>
            <%= service %>
          </th>
        <% end %>
      </tr>
      <tr>
        <% for service in MasasService.all %>
          <th>Read</th>
          <th>Write</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% for service in MasasService.all %>
          <td><%= select_tag("account[permissions_attributes][#{service}][read]",
                             options_for_select(yesno_options, @account.can?(:read, service)), class: 'span2') %></td>
          <td><%= select_tag("account[permissions_attributes][#{service}][write]",
                             options_for_select(yesno_options, @account.can?(:write, service)), class: 'span2') %></td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <%= f.submit 'Exit Edit Permissions', class: 'btn-success' %>
<% end %>
