<% title 'Edit Organization Admin Details' %>

<%= simple_form_for @organization_admin, url: admin_organization_admin_path, method: :put do |f| %>
  <%= f.input :email %>

  <%= f.input :first_name %>

  <%= f.input :last_name %>

  <%= f.input :role %>

  <%= f.input :title %>

  <%= f.input :office_email %>

  <%= f.input :office_phone %>

  <%= f.input :mobile_phone %>

  <%= f.input :executive %>

  <%= f.input :address_line_1 %>

  <%= f.input :address_line_2 %>

  <%= f.input :city %>

  <%= f.input :state %>

  <%= f.input :postal_code %>

  <div class="form-actions">
    <%= f.button :submit, 'Update', class: 'btn-primary' %>
  </div>
<% end %>

