<% title 'Step 1' %>

<ul class="nav nav-pills">
  <li class="active">
  <%= link_to 'Step 1', registration_path  %>
  </li>
  <li><a>Step 2</a></li>
  <li><a>Step 3</a></li>
  <li><a>Step 4</a></li>
</ul>

<%= simple_form_for @user, url: accept_agreement_path, html: { class: 'form-horizontal' } do |f| %>

  <%= f.input :agreements, collection: agreements_options, as: :check_boxes %>

  <%= f.button :submit, 'Cancel' %>
  <%= f.button :submit, 'Next', class: 'btn-primary' %>
<% end %>
