<% title 'Step 1 - Agreements' %>

<% content_for :sidebar do -%>
  <p>In order to complete your request for access, please review and agree to
  the following.</p>
<% end -%>

<ul class="nav nav-pills">
  <li class="active">
  <%= link_to 'Step 1', registration_path  %>
  </li>
  <li><a>Step 2</a></li>
  <li><a>Step 3</a></li>
  <li><a>Step 4</a></li>
</ul>

<%= simple_form_for @organization, url: accept_agreement_path do |f| %>

  <%= f.input :agreements, collection: agreements_options, as: :check_boxes %>

  <%= f.button :submit, 'Cancel' %>
  <%= f.button :submit, 'Next', class: 'btn-primary' %>
<% end %>
