<% title 'Executive Authority Contact Information' %>

<%= render partial: 'steps' %>

<% content_for :sidebar do -%>
  <p>
  Neither the Primary or Secondary Contact have indicated that they are the
  Authority for the Organization. MASAS-X needs to know who the individual is
  who is authorized to register the Organization with MASAS-X. If the Primary
  or Secondary Contact have that authority, please use the Previous button at
  the bottom and check off the Executive Authority for the appropriate
  contact. Otherwise, please continue to fill out this page.
  </p>
<% end -%>

<%= simple_form_for @organization, url: next_step_path, method: :put do |f| %>

  <%= f.fields_for :authority_organization_administrator do |administrator| %>

    <%= administrator.input :first_name, label: 'First Name' %>

    <%= administrator.input :last_name, label: 'Last Name' %>

    <%= administrator.input :title, label: 'Title' %>

    <%= administrator.input :language, label: 'Language', collection: Language.all %>

    <%= administrator.input :email, label: 'Office e-mail' %>

    <%= administrator.input :mobile_email, label: 'Mobile e-mail' %>

    <%= administrator.input :office_phone, label: 'Office Phone' %>

    <%= administrator.input :mobile_phone, label: 'Mobile Phone' %>

    <%= administrator.input :executive, label: 'Executive Authority', disabled: true %>

    <%= administrator.input :role, value: 'Authority', as: :hidden %>

    <%= administrator.input :executive, value: true, as: :hidden %>

    <%= administrator.input :address_line_1, label: 'Address Line 1' %>

    <%= administrator.input :address_line_2, label: 'Address Line 2' %>

    <%= administrator.input :city, label: 'City' %>

    <%= administrator.input :state, label: 'State/Prov' %>

    <%= administrator.input :country, label: 'Country', as: :string %>

    <%= administrator.input :postal_code, label: 'Postal code' %>

  <% end %>

  <div class="form-actions">
    <%= link_to 'Previous', previous_step_path(@organization), class: 'btn'  %>
    <%= f.button :submit, 'Next', class: 'btn-primary' %>
  </div>
<% end %>
