<% title 'Step 2 - Organization Information' %>

<% content_for :sidebar do -%>
  <p>
  For which entity is this application being made? This is the information
  displayed when logged in or associated with posted information (only
  official and releasable information should be used, do not use personal
  information). Preferably, an access code is provided to a
  group/department/section, and less often to an individual.
  </p>
<% end -%>

<ul class="nav nav-pills">
  <li>
  Step 1
  </li>
  <li class="active">
  Step 2
  </li>
  <li><a>Step 3</a></li>
  <li><a>Step 4</a></li>
</ul>

<%= simple_form_for @organization, url: next_step_path, method: :put do |f| %>
  <%= f.input :name, label: 'Organization Name' %>

  <%= f.input :department %>

  <%= f.input :division %>

  <%= f.input :sub_division, label: 'Sub Division' %>

  <%= f.input :address_line_1, label: 'Address Line 1' %>

  <%= f.input :telephone %>

  <%= f.input :website %>

  <%= link_to 'Previous', previous_step_path(@organization), class: 'btn'  %>
  <%= f.button :submit, 'Next', class: 'btn-primary' %>
<% end %>
