<% title 'Organization Information' %>

<% content_for :sidebar do -%> <p>Access may be granted to the entire
  organization, a specific department, group, and in
  some cases a role. Generally, access is not granted to an individual. The
  information included on this page will be associated with any information
  shared by this account through MASAS-X, and should not therefore include
  information of a personal nature.</p> <% end -%>

<%= render partial: 'steps' %>

<%= simple_form_for @organization, url: next_step_path, method: :put do |f| %>
  <%= f.input :name, label: 'Organization Name' %>

  <%= f.input :department %>

  <%= f.input :country, label: 'Country' do %>
    <%= f.country_select :country, {object: f.object, priority: %w(CA US), prompt: 'Please select a country'} %>
  <% end %>

  <%= f.input :address_line_1, label: 'Address Line 1' %>

  <%= f.input :address_line_2, label: 'Address Line 2' %>

  <%= f.input :city, label: 'City' %>

  <%= render partial: 'subregion_select', locals: {parent_region: f.object.country} %>

  <%= f.input :postal_code, label: 'Postal code' %>

  <%= f.input :telephone %>

  <%= f.input :website %>

  <div class="form-actions"> <%= link_to 'Previous',
    previous_step_path(@organization), class: 'btn'  %> <%= f.button :submit,
    'Next', class: 'btn-primary' %> </div>
<% end %>
