<% title 'Organization Information' %>

<% content_for :sidebar do -%> <p>Organizational Accounts are applied for
  on behalf of an organization or a group within an organization. With
  an Organizational Account, account administrators can create and
  manage one or more Accounts to be used for viewing and posting
  information to MASAS. Information posted to MASAS is associated to both
  the Organization that and the individual Account that posted it.</p>
<% end -%>

<%= render partial: 'steps' %>

<%= simple_form_for @organization, url: next_step_path, method: :put do |f| %>
  <%= f.input :name, label: 'Organization Name' %>

  <%= f.input :department %>

  <%= f.input :country, label: 'Country' do %>
    <%= f.collection_select :country, country_collection, :code, :name, {object: f.object, priority: %w(CA US), prompt: 'Please select a country'} %>
  <% end %>

  <%= f.input :address_line_1, label: 'Address Line 1' %>

  <%= f.input :address_line_2, label: 'Address Line 2' %>

  <%= f.input :city, label: 'City' %>

  <%= f.input :state, label: 'State/Prov' do %>
    <%= f.grouped_collection_select :state, country_collection, :subregions, :name, :code, :name, {prompt: "Please select a country above"}, {"data-filtered-by" => "#organization_country", "data-filtered-by-prompt" => "Please select a state / province"} %>
  <% end %>

  <%= f.input :postal_code, label: 'Postal code' %>

  <%= f.input :telephone %>

  <%= f.input :website %>

  <div class="form-actions"> <%= link_to 'Previous',
    previous_step_path(@organization), class: 'btn'  %> <%= f.button :submit,
    'Next', class: 'btn-primary' %> </div>
<% end %>
