<% title 'Step 3 - Primary Contact Information' %>

<% content_for :sidebar do -%>
  <p>
  Please provide contact details for the person making this application. There
  will be a need to communicate with you during the verification process, so
  please ensure your contact information is complete and accurate. This
  contact information will be kept on file for administrative purposes, but
  does not have to be viewable by other users.
  </p>
<% end -%>

<%= render partial: 'steps' %>

<%= simple_form_for @organization, url: next_step_path, method: :put do |f| %>

  <%= f.fields_for :primary_organization_administrator do |administrator| %>

      <%= administrator.input :name, label: 'Name' %>

      <%= administrator.input :title, label: 'Title' %>

      <%= administrator.input :language, label: 'Language', collection: Language.all %>

      <%= administrator.input :email, label: 'Office e-mail' %>

      <%= administrator.input :mobile_email, label: 'Mobile e-mail' %>

      <%= administrator.input :office_phone, label: 'Office Phone' %>

      <%= administrator.input :mobile_phone, label: 'Mobile Phone' %>

  <% end %>

  <div class="form-actions">
    <%= link_to 'Previous', previous_step_path(@organization), class: 'btn'  %>
    <%= f.button :submit, 'Next', class: 'btn-primary' %>
  </div>

<% end %>
