<% title 'Primary Contact Information' %>

<% content_for :sidebar do -%>
  <p>The Primary contact is the person who will have primary responsibility
  for completing the registration process and administering the account.
  Correspondence by MASAS-X will be sent to this person. The Primary contact may
  or may not also be the organization’s Executive Authority for the account. If
  they are, please check the Executive Authority check box. </p>
<% end -%>

<%= render partial: 'steps' %>

<%= simple_form_for @organization, url: next_step_path, method: :put do |f| %>

  <%= f.fields_for :primary_organization_administrator do |administrator| %>

    <%= administrator.input :first_name, label: 'First Name' %>

    <%= administrator.input :last_name, label: 'Last Name' %>

    <%= administrator.input :title, label: 'Title' %>

    <%= administrator.input :language, label: 'Language', collection: Language.all %>

    <%= administrator.input :email, label: 'E-mail' %>

    <%= administrator.input :office_phone, label: 'Office Phone' %>

    <%= administrator.input :mobile_phone, label: 'Mobile Phone' %>

    <%= administrator.input :executive, label: 'Executive Authority', disabled: @organization.has_executive? %>

    <%= administrator.object.country %>

    <%= administrator.input :country, label: 'Country' do %>
      <%= administrator.collection_select :country, country_collection, :code, :name, {object: f.object, priority: %w(CA US), prompt: 'Please select a country'} %>
    <% end %>

    <%= administrator.input :address_line_1, label: 'Address Line 1' %>

    <%= administrator.input :address_line_2, label: 'Address Line 2' %>

    <%= administrator.input :city, label: 'City' %>

    <%= administrator.input :state, label: 'State/Prov' do %>
      <%= administrator.grouped_collection_select :state, country_collection, :subregions, :name, :code, :name, {prompt: "Please select a country above"}, {"data-filtered-by" => "#organization_primary_organization_administrator_attributes_country", "data-filtered-by-prompt" => "Please select a state / province"} %>
    <% end %>

    <%= administrator.input :postal_code, label: 'Postal code' %>

  <% end %>

  <div class="form-actions">
    <%= link_to 'Previous', previous_step_path(@organization), class: 'btn'  %>
    <%= f.button :submit, 'Next', class: 'btn-primary' %>
  </div>

<% end %>
