<% title 'Step 3 - Primary Contact Information' %>


<ul class="nav nav-pills">
  <li>
  <%= link_to 'Step 1', registration_path  %>
  </li>
  <li>
  <%= link_to 'Step 2', organization_path  %>
  </li>
  <li class="active">
  <%= link_to 'Step 3', organization_path  %>
  </li>
  <li><a>Step 4</a></li>
</ul>

<%= simple_form_for @user, url: update_primary_contact_path do |f| %>

  <%= f.input :primary_contact_name, label: 'Name' %>

  <%= f.input :primary_contact_title, label: 'Title' %>

  <%= f.input :primary_contact_language, label: 'Language', collection: Language.all %>

  <%= f.input :primary_contact_office_email, label: 'Office e-mail' %>

  <%= f.input :primary_contact_mobile_email, label: 'Mobile e-mail' %>

  <%= f.input :primary_contact_office_phone, label: 'Office Phone' %>

  <%= f.input :primary_contact_mobile_phone, label: 'Mobile Phone' %>

  <%= f.button :submit, 'Next', class: 'btn-primary' %>
<% end %>
