<% title 'Primary Contact Information' %>

<% content_for :sidebar do -%>
  <p>
  During the application process, the Primary Contact is the person who will receive system generated emails and whom may be asked to verify or provide additional information. After account creation, the Primary Contact is the main point of contact for system or account related correspondence.
  </p>

  <p>
  Approved Organizational Accounts will include an Account for viewing and posting information to MASAS using the Primary Contact's contact information.
  </p>
<% end -%>

<%= render partial: 'steps' %>

<%= simple_form_for @organization, url: next_step_path, method: :put do |f| %>

  <%= f.fields_for :primary_organization_administrator do |administrator| %>

    <%= administrator.input :first_name, label: 'First Name' %>

    <%= administrator.input :last_name, label: 'Last Name' %>

    <%= administrator.input :title, label: 'Title' %>

    <%= administrator.input :language, label: 'Language', collection: Language.all %>

    <%= administrator.input :email, label: 'E-mail' %>

    <%= administrator.input :office_phone, label: 'Office Phone' %>

    <%= administrator.input :mobile_phone, label: 'Mobile Phone' %>

    <%= administrator.input :executive, label: 'Executive Authority', disabled: @organization.has_executive? %>

    <%= administrator.input :address_line_1, label: 'Address Line 1' %>

    <%= administrator.input :address_line_2, label: 'Address Line 2' %>

    <%= administrator.input :city, label: 'City' %>

    <%= administrator.input :state, label: 'State/Prov' %>

    <%= administrator.input :country, label: 'Country' %>

    <%= administrator.input :postal_code, label: 'Postal code' %>

  <% end %>

  <div class="form-actions">
    <%= link_to 'Previous', previous_step_path(@organization), class: 'btn'  %>
    <%= f.button :submit, 'Next', class: 'btn-primary' %>
  </div>

<% end %>
