<% title 'References Information' %>

<% content_for :sidebar do -%>
  <p>
  Please provide a reference that the MASAS-X team can validate your
  credentials with. This will expedite the process of accepting your account.
  Please provide a validating person (other than yourself or a family member)
  who can verify your request for access (i.e., it can be someone within your
  organization, an existing member of MASAS-X, a vendor, etc.). Please provide
  that reference's name, phone number, e­mail address and other relevant
  details (if applicable).
  </p>
<% end -%>

<%= render partial: 'steps' %>

<%= simple_form_for @organization, url: next_step_path, method: :put  do |f| %>

  <%= f.input :references, label: 'References', input_html: { class:'xxlarge', rows: 5 }  %>

  <%= f.input :questions, label: 'Comments/Questions', input_html: { class:'xxlarge', rows: 5 }%>

  <div class="form-actions">
    <%= link_to 'Previous', previous_step_path(@organization), class: 'btn'  %>
    <%= f.button :submit, 'Next', class: 'btn-primary' %>
  </div>
<% end %>
