<% title 'Step 3 - Secondary Contact Information' %>

<% content_for :sidebar do -%>
  <p>
  Please provide contact details for a Secondary Contact person (if needed,
  this section is optional). This contact information will be kept on file for
  administrative purposes, but does not have to be viewable by other users.
  </p>
<% end -%>

<ul class="nav nav-pills">
  <li>
  <%= link_to 'Step 1', registration_path  %>
  </li>
  <li>
  <%= link_to 'Step 2', organization_path(@user)  %>
  </li>
  <li class="active">
  <%= link_to 'Step 3', secondary_contact_path(@user)  %>
  </li>
  <li><a>Step 4</a></li>
</ul>

<%= simple_form_for @organization, url: update_secondary_contact_path do |f| %>

  <%= f.fields_for :secondary_organization_administrator do |administrator| %>

    <%= administrator.fields_for :contact_info do |contact| %>

      <%= contact.input :name, label: 'Name' %>

      <%= contact.input :title, label: 'Title' %>

      <%= contact.input :language, label: 'Language', collection: Language.all %>

      <%= contact.input :office_email, label: 'Office e-mail' %>

      <%= contact.input :mobile_email, label: 'Mobile e-mail' %>

      <%= contact.input :office_phone, label: 'Office Phone' %>

      <%= contact.input :mobile_phone, label: 'Mobile Phone' %>

    <% end %>

  <% end %>

  <%= f.button :submit, 'Next', class: 'btn-primary' %>
<% end %>
