<% title 'Organizations' %>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#pending" data-toggle="tab">Pending (<%= @pending_organizations.count %>)</a></li>
    <li><a href="#approved" data-toggle="tab">Approved (<%= @approved_organizations.count %>)</a></li>
    <li><a href="#rejected" data-toggle="tab">Rejected (<%= @rejected_organizations.count %>)</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="pending">
      <%= render partial: 'organizations', locals: {organizations: @pending_organizations} %>
    </div>
    <div class="tab-pane" id="approved">
      <%= render partial: 'organizations', locals: {organizations: @approved_organizations} %>
    </div>
    <div class="tab-pane" id="rejected">
      <%= render partial: 'organizations', locals: {organizations: @rejected_organizations} %>
    </div>
  </div>
</div>
