<% title 'Organization Details' %>

<h2><%= @organization.name %></h2>

<table class="table">
  <thead>
    <th>Department name</th>
    <th>Division</th>
    <th>Sub Division</th>
    <th>Telephone</th>
    <th>Website</th>
    <th>Address</th>
    <th>References</th>
    <th>Questions</th>
  </thead>
  <tr>
    <td><%= @organization.department %></td>
    <td><%= @organization.division %></td>
    <td><%= @organization.sub_division %></td>
    <td><%= @organization.telephone %></td>
    <td><%= @organization.website %></td>
    <td><%= show_address @organization %></td>
    <td><%= @organization.references %></td>
    <td><%= @organization.questions %></td>
  </tr>
</table>

<h3>Contacts Details:</h3>

<table class="table table-bordered table-striped">
  <thead>
    <th>Role</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Title</th>
    <th>Office e-mail</th>
    <th>Mobile e-mail</th>
    <th>Office Phone</th>
    <th>Mobile Phone</th>
    <th>Executive</th>
    <th>Address</th>
  </thead>
  <tbody>
    <% for administrator in @organization.organization_admins %>
      <tr>
        <td><%= administrator.role %></td>
        <td><%= administrator.first_name %></td>
        <td><%= administrator.last_name %></td>
        <td><%= administrator.title %></td>
        <td><%= administrator.email %></td>
        <td><%= administrator.mobile_email %></td>
        <td><%= administrator.office_phone %></td>
        <td><%= administrator.mobile_phone %></td>
        <td><%= administrator.executive ? 'Yes' : 'No' %></td>
        <td><%= show_address administrator %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="btn-toolbar">
  <%= link_to 'Approve', approve_admin_organization_path(@organization), class: 'btn btn-success'  %>
  <%= link_to 'Reject',  reject_admin_organization_path(@organization), class: 'btn btn-danger'  %>
  <%= link_to 'All Applications', admin_organizations_path, class: 'btn'  %>
</div>
