<% title 'Organization Details' %>

<h2><%= @organization.name %></h2>

<table class="table">
  <thead>
    <th>Department name</th>
    <th>Telephone</th>
    <th>Website</th>
    <th>Address</th>
    <th>References</th>
    <th>Questions</th>
  </thead>
  <tr>
    <td><%= @organization.department %></td>
    <td><%= @organization.telephone %></td>
    <td><%= @organization.website %></td>
    <td><%= show_address @organization %></td>
    <td><%= @organization.references %></td>
    <td><%= @organization.questions %></td>
  </tr>
</table>

<% if @organization.can_update_attributes? %>
  <%= link_to 'Edit', edit_admin_organization_path(@organization), class: 'btn'  %>
<% end %>


<h3>Contacts Details:</h3>

<table class="table table-bordered table-striped">
  <thead>
    <th>Role</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Title</th>
    <th>E-mail</th>
    <th>Office Phone</th>
    <th>Mobile Phone</th>
    <th>Executive</th>
    <th>Address</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% for administrator in @organization.organization_admins %>
      <tr>
        <td><%= administrator.role %></td>
        <td><%= administrator.first_name %></td>
        <td><%= administrator.last_name %></td>
        <td><%= administrator.title %></td>
        <td><%= administrator.email %></td>
        <td><%= administrator.office_phone %></td>
        <td><%= administrator.mobile_phone %></td>
        <td><%= administrator.executive ? 'Yes' : 'No' %></td>
        <td><%= show_address administrator %></td>
          <td>
            <% if @organization.can_update_attributes? %>
              <%= link_to 'Edit', edit_admin_organization_admin_path(administrator), class: 'btn' %>
            <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= simple_form_for @organization, url: admin_organization_path, method: :put do |f| %>
  <%= f.input :admin_notes, input_html: { rows: 4 } %>
  <div class="form-actions">
    <%= f.button :submit, 'Update Notes', class: 'btn-primary' %>
  </div>
<% end %>

<div id="history">
  <h2>History</h2>

  <table class="table">
    <thead>
      <th>Date</th>
      <th>Change</th>
    </thead>
    <tbody>
    <% @organization.versions.reverse.each do |version| %>
    <tr>
      <td><%= version.created_at %></td>
      <td>
        <% version.changeset.each_pair do |attribute, change_from_to| %>
          <p><%= "Changed #{attribute} to #{change_from_to[1]}" %></p>
        <% end %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>

</div>

<div class="btn-toolbar">
  <% if @organization.can_update_attributes? %>
    <%= link_to 'Approve', approve_admin_organization_path(@organization), class: 'btn btn-success'  %>
    <%= link_to 'Reject',  reject_admin_organization_path(@organization), class: 'btn btn-danger'  %>
  <% end %>
  <%= link_to 'All Applications', admin_organizations_path, class: 'btn'  %>
</div>
