<% content_for :container do %>
  <div class="row-fluid">
    <div class="span3">
      <%= render partial: 'common/sidebar' %>
    </div><!--/span-->
    <div class="span9">
      <%= content_tag(:h1, yield(:title)) if content_for?(:title) %>
      <%= render partial: 'common/flashes' %>
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render :template => 'layouts/common' %>
